/* for tab device */

@media screen and (min-width:376px) and (max-width:834px) {

    /* -----------------------------------
    common style
    ------------------------------------- */
    body {
        max-width: 834px;

    }

    /* --------------------------------
    top banner style
    ---------------------------------- */
    .container-1 {
        width: 734px;

        margin-top: 70px;
    }

    .banner-info {
        margin: 61px 2px 61px 76px;
    }

    .banner-title {
        font-weight: 700;
        font-size: 40px;
        margin: 0px;
        line-height: 50px;
    }

    .text-container {
        width: 316px;
        height: 48px;

        margin-top: 10px;
        margin-bottom: 20px;
        overflow: hidden;
        text-overflow: ellipsis;

    }

    .banner-text {

        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        margin: 0px;




    }

    .banner-btn {
        width: 161px;
        height: 48px;
        font-size: 20px;
    }

    .banner-btn a {
        padding: 12px;
    }

    .banner-image {
        margin-top: 58px;

    }

    .banner-image img {
        width: 323px;
        height: 340px;
        position: relative;
        left: 20px;

    }





    /* --------------------------------------------
section 2 style 
-----------------------------------------*/


    .blog-container {
        display: flex;
        
        flex-direction: column;
    }


    .box {
        display: flex;
        justify-content: space-between;
        ;
        width: 734px;
        height: auto;
        padding: 0px;
        padding-bottom: 30px;
        background-color: #FFFFFF;
        border-radius: 10px;
    }

    .box-btn {
        width: 230px;
        height: 64px;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 0px;
        border-radius: 10px;
        background-color: #FFFFFF;
        border: 1px solid rgb(203, 195, 195);
    }

    /*-------------------------------------------------- 
    blog style 
    -------------------------------------------------------*/

    .blogs {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .blog {
        width: 357px;
        height: 414.21px;

    }

    .blog-image img {
        width: 357px;
        height: 200.24px;
    }

    .blog-info {
        padding: 22px;
    }

    .blog-btn {

        width: 114.42px;
        height: 36.62px;

        border-radius: 5.72px;
    }

    .blog-btn a {
        font-weight: 500;
        font-size: 18.3077px;
        line-height: 27px;

    }

    .blog-text {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;

        margin-top: 17px;
        margin-bottom: 24px;
    }

    .blog-footer {
        width: 163.88px;
        height: 30px;

    }

    .footer-content {
        width: 68.9px;
        height: 30px;
    }

    /* ----------------------------------------------
    view button or hidden button 
    ------------------------------------------------*/

    .visibility {
        display: block;

    }

    /* -----------------------------------------------
    footer part style
    ----------------------------------------------- */

    .footer-container {
        padding: 50px;
    }

    .footer-text {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .footer-text p {
        margin: 20px 15px;


        line-height: 50px;
        font-size: 16px;

    }




}