/* for mobile device */

@media screen and (max-width:375px) {
    body {
        max-width: 375px;

    }

    /* top banner style */

    .container-1 {
        width: 334px;

        margin-top: 30px;
    }

    .top-banner {

        display: flex;
        text-align: center;
        flex-direction: column;


    }

    .banner-left {
        width: 100%;
    }

    .banner-info {
        margin: 28px 38px 21px 38px;
    }


    .banner-title {
        font-weight: 700;
        font-size: 22px;
        margin: 0px;
        line-height: 33px;
    }

    .text-container {
        width: 258px;
        height: 48px;

        margin-top: 10px;
        margin-bottom: 20px;
        overflow: hidden;
    }

    .banner-text {

        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        margin: 0px;
    }

    .banner-btn {
        width: 161px;
        height: 48px;
        font-size: 20px;
    }

    .banner-btn a {
        padding: 12px;
    }





    .banner-right {
        width: 100%;
    }

    .banner-image {
        margin-top: 0px;

    }

    .banner-image img {
        width: 233px;
        height: 245px;
        position: relative;
        left: 20px;

    }


    /* --------------------------------------------
    section 2 style 
    -----------------------------------------*/

    .blog-container {
        display: flex;
        /* justify-content: space-between; */
        flex-direction: column;
    }

    .box {
        display: flex;
        flex-direction: column;
        width: 334px;
        height: auto;
        padding: 0px;
        /* padding-bottom: 30px; */
        background-color: #FFFFFF;
        border-radius: 10px;
        align-items: center;
    }

    .box-btn {
        width: 252px;
        height: 64px;
        /* font-family: 'Poppins', sans-serif; */
        margin-bottom: 10px;
        /* border-radius: 10px; */
        /* background-color: #FFFFFF; */
    }

    /*-------------------------------------------------- 
    blog style 
    -------------------------------------------------------*/
    .blogs {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .blog {
        width: 335px;
        height: 388.69px;


    }

    .blog-image img {
        width: 335px;
        height: 187.9px;
    }

    .blog-info {
        padding: 21px;
    }

    .blog-btn {

        width: 107.37px;
        height: 34.36px;
        border-radius: 5.37px;
    }

    .blog-btn a {
        /* font-weight: 500; */
        font-size: 17.1795px;
        line-height: 26px;

    }

    .blog-text {
        /* font-weight: 600; */
        font-size: 18.7675px;
        line-height: 28px;

        margin-top: 16px;
        margin-bottom: 23px;
    }

    .blog-footer {
        width: 153.14px;
        height: 28px;

    }

    /* -----------------------------------------------
    footer part style
    ----------------------------------------------- */
    .footer-container {
        padding: 20px;
    }

    .footer-text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }







}